*{
	margin: 0px;
	padding: 0px;
}
.slidebox{
	margin: auto;
	width: 100%;
}
button{
	width: 250px;
	height: 30px;
	border: none;
	background-color: teal;
	border:2px solid red;
}
button:focus{
	outline: none;
}
.bd{
	display: none;
	text-align: justify-all;
}